<div class="container-fluid text-center">
    <h1>Oops! Something went wrong...</h1>    
    <hr>
    <p>{{status}} :: {{message}}</p>
    <div type="button" class="btn btn-default" id="mybutton">
        <a href="/">Back to Home</a>
    </div>
</div>
