<style>
    #content{
        right: 0;
        bottom: 0;
        left: 0;
        position: center;
    }
    .jumbotron {
        background-color: rgba(245, 245, 245, 0.4);
        padding: 0.5em 0.6em;
    }
    #title{
        font-size: 40px;
    }
    .intr{
        font-size: 20px;
    }
</style>

<div class="container text-center" id="content">
    <h1 id="title">Artists and Bandz</h1>    
    <hr>
    <p class="intr">We created a website for you to discover new music and keep track</p>
    <p class="intr">of your favourite artists musics by creating your own playlists.</p>
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-4">
                <p><strong>Search</strong></p>
                <img src="/images/search.ico" height="120" width="120">
                <p>Search for your favourite</p>
                <p>artists and bands</p>
            </div>
            <div class="col-sm-4">
                <p><strong>Listen</strong></p>
                <img src="/images/play.ico" height="120" width="120">
                <p>Listen to a preview of your</p>
                <p>favourite music</p>
            </div>
            <div class="col-sm-4">
                <p><strong>Create</strong></p>
                <img src="/images/playlist.ico" height="120" width="120">
                <p>Create your own playlists</p>
                <p>and share them</p>
            </div>
        </div>
    </div>
</div>
