<style>
    #footer{
        right: 0;
        bottom: 0;
        left: 0;
    }
    
</style>

<div id="footer">
    <div class="container">
        <div class="row">
        <hr>
            <div class="col-lg-12">
                <div class="col-md-8" style="float:left">
                    <a href="https://developer.spotify.com/web-api/">Powered by: Spotify Web API</a>  
                </div>
                <div class="col-md-4" style="float:right">
                    <p class="muted pull-right"> © 2016 ISEL-LEIC-PI-G10. All rights reserved </p>
                </div>
            </div>
        </div>
    </div>
</div>